@model List<GymLog.UI.Models.BodyPart>

@{
    ViewData["Title"] = "Body Parts";
}

<h1>Body Parts</h1>

@if (TempData["DeleteError"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["DeleteError"]
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].BodyPartId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].BodyPartName)
            </th>
            @* <th> *@
            @*     @Html.DisplayNameFor(model => model.CreatedBy) *@
            @* </th> *@
            @* <th> *@
            @*     @Html.DisplayNameFor(model => model.UpdatedBy) *@
            @* </th> *@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BodyPartId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BodyPartName)
                </td>
                @* <td> *@
                @*     @Html.DisplayFor(modelItem => item.CreatedBy) *@
                @* </td> *@
                @* <td> *@
                @*     @Html.DisplayFor(modelItem => item.UpdatedBy) *@
                @* </td> *@
                <td>
                    <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.BodyPartId">Edit</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.BodyPartId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>